<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
  Do not use this app while driving!
</p>
<p>
  Upcoming changes:
  <ol>
    <li>Cleaning up the look including alignment and text.</li>
    <li>Adding user sign up and in to see if you've been rated.</li>
  </ol>
</p>
