<div class="row">
  <div class="small-3 columns"></div>
  <div class="small-6 columns">
    <%= image_tag("Damn.png") %>
    <%= image_tag("Driver.png") %>
    <p>Start rating those drivers! </p>

    <%= render 'form' %>
  </div>
  <div class="small-3 columns"></div>
</div>
